
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(href="assets/css/bootstrap.css" rel="stylesheet")
        link(href="assets/css/font-awesome.css" rel="stylesheet")
        link(href="assets/css/custom.css" rel="stylesheet")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
        script(type="text/javascript").
            window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};
            var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");
            a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";
            var n=document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a,n);
            for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;
            c<p.length;
            c++)heap[p[c]]=o(p[c])};
            heap.load("3745706352");
    body
        div#wrapper
            nav.navbar.navbar-default.navbar-cls-top(role="navigation" style="margin-bottom: 0")
                div(class="navbar-header")
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".sidebar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") #{title}
                div(style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;") Last access : 30 May 2014 &nbsp; 
                    a.btn.btn-danger.square-btn-adjust(href="#") Logout
            
            
            <!-- /. NAV TOP  -->
            nav.navbar-default.navbar-side(role="navigation")
                div.sidebar-collapse
                    ul.nav#main-menu
                        li.text-center
                            img.user-image.img-responsive(src="assets/img/find_user.png")					
                            li
                                a(href="/users")
                                    i.fa.fa-dashboard.fa-3x
                                    | Users
                            li
                                a(href="logon")
                                    i.fa.fa-desktop.fa-3x
                                    | Logon           
                            li
                                a(href="#")
                                    i.fa.fa-sitemap.fa-3x 
                                    | Multi-Level Dropdown
                                    span.fa.arrow
                                ul.nav.nav-second-level
                                    li
                                        a(href="#") Second Level Link
                                    li
                                        a(href="#") Second Level Link
                        li 
                            a(href="https://heapanalytics.com/?utm_source=badge")
                                img(style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics")

            #page-wrapper
                #page-inner
                    div.row
                        div.col-md-12
                            block content
                        

        script(src="assets/js/jquery-1.10.2.js")
        script(src="assets/js/bootstrap.min.js")
        script(src="assets/js/jquery.metisMenu.js")
        script(src="assets/js/custom.js")

